// -----------------------------
// COLOR VARIABLES
// -----------------------------
$primary: #4f46e5;   // Indigo
$secondary: #4338ca; // Slate
$success: #22c55e;
$warning: #facc15;
$error: #ef4444;


$color-primary: #4f46e5;
$color-primary-dark: #4338ca;
$color-gray-50: #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #dadada;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-800: #1f2937;
$color-gray-900: #111827;
$color-white: #ffffff;
$color-black: #0f0f0f;

$color-yellow-400: #facc15;
$color-purple-400: #a78bfa;
$color-orange-400: #fb923c;
$color-teal-400: #2dd4bf;

$breakpoint-sm: 640px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1280px;

$white: #ffffff;
$black: #0f0f0f;

// Background colors
$bg-light: #f5f6fa;
$bg-dark: #121212;

// -----------------------------
// TYPOGRAPHY
// -----------------------------
$font-main:'Poppins' ,'Inter', sans-serif;

// -----------------------------
// SPACING SCALE
// -----------------------------
$space-xs: 0.5rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-lg: 2rem;
$space-xl: 3rem;

// Container width
$container-width: 100%;
